services:
  deployments_db:
    image: mongo:7.0
    volumes:
      - deploymentsdbdata:/data/db
    networks:
      - deployments_network
    ports:
      - "27017:27017"
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'host.docker.internal:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
  mongo_express:
    image: mongo-express:latest
    depends_on:
      deployments_db:
        condition: service_healthy
    entrypoint: ["/sbin/tini", "--", "node", "app"]
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=deployments_db
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH=false
    networks:
      - deployments_network
  deployment_manager:
    depends_on:
      deployments_db:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SKIP_FETCH_RDS_BUNDLE: true
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /app
          ignore:
            - node_modules/
            - examples/
        - action: rebuild
          path: package.json
    environment:
      - NETWORK=${NETWORK:-devnet}
      - VAULT_KEY=${VAULT_KEY:-change_me}
      - TASKS_BATCH_SIZE=${TASKS_BATCH_SIZE:-10}
      - CONFIDENTIAL_BY_DEFAULT=${CONFIDENTIAL_BY_DEFAULT:-true}
      - DEPLOYMENT_MANAGER_PORT=${DEPLOYMENT_MANAGER_PORT:-3000}
      - SOLANA_NETWORK=${SOLANA_NETWORK}
      - DOCDB_HOST=${DOCDB_HOST:-host.docker.internal}
      - DOCDB_PORT=${DOCDB_PORT:-27017}
      - DOCDB_USERNAME=${DOCDB_USERNAME}
      - DOCDB_PASSWORD=${DOCDB_PASSWORD}
    image: deployment_manager:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3001:3000"
    networks:
      - deployments_network

volumes:
  deploymentsdbdata:

networks:
  deployments_network:
    external: true
